<% if @message %>
  <p style="text-align:center">(<%= @message %>)</p>
<% end %>

<fieldset style="font-size:110%; width:200px; height:auto; border-width:medium;">
 <p style="font-size:120%; text-align:center"><b><%= @name %></b></p>
 <div style="border: 2px solid black; padding: 10px;"><b>Age:</b> <%= @age %></div><br>
 <div style="border: 2px solid black; padding: 10px;"><b>Gender:</b> <%= @gender %></div><br>
 <div style="border: 2px solid black; padding: 10px;"><b>Job:</b> <%= @job %></div><br>

 <div>
   <form action="/members/<%= @name %>/edit" style="text-align:center;" class="form">
       <input type="submit" value="Edit" class="tiny_butt" style="background-color:#008CBA; padding: 7px 23px;">
   </form>

   <form action="/members/<%= @name %>/delete" style="text-align:center;" class="form">
       <input type="submit" value="Delete" class="tiny_butt" style="background-color:#f44336;">
   </form>

 </div>
</fieldset><br>

<form action="/members" style="text-align:center">
    <input type="submit" value="Members List" class="button">
</form>
